<nav>
  <img
    src="{{ url_for('static', filename='assets/Leaf&Lush.png') }}"
    alt="Leaf & Lush Logo"
  />
  <h1>Leaf & Lush's Official Website</h1>

  <ul class="topnav">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
    <li><a href="{{ url_for('produce') }}">Produce</a></li>
    <li><a href="{{ url_for('latestposts') }}">Posts</a></li>
    <li><a href="{{ url_for('posts') }}">Forums</a></li>
    <li>|</li>
    {% if userID %}
    <li>
      <b><a href="{{ url_for('account') }}">Account</a></b>
    </li>
    {% else %}
    <li><a href="{{ url_for('signin') }}">Sign In</a></li>
    <li>
      <b><a href="{{ url_for('signup') }}">Sign Up</a></b>
    </li>
    {% endif %}
  </ul>
</nav>
